figure/**
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ind
*.lof
*.log
*.lot
*.Ridx
*.run.xml
*.swp
*.synctex.gz
*.synctex
*.toc
*.tcp
Abschlussarbeit*.pdf
Abschlussarbeit-mitR.tex
.Rhistory
*.Rproj
.Rproj.user/**
/tmp/
